<!-- //footer -->
	<div class="footer-bottom-grids">
		<!-- container -->
		<div class="container">
				<div class="footer-bottom-top-grids">
					<div class="col-md-4 footer-bottom-left">
						<h4>Download our mobile Apps</h4>
						<div class="d-apps">
							<ul>
								<li><a href="#"><%= image_tag("propics/app1.png") %></a></li>
								<li><a href="#"><%= image_tag("propics/app2.png") %></a></a></li>
								<li><a href="#"><%= image_tag("propics/app3.png") %></a></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 footer-bottom-left">
						<h4>We Accept</h4>
						<div class="a-cards">
							<ul>
								<li><a href="#"><%= image_tag("propics/c1.png") %></a></li>
								<li><a href="#"><%= image_tag("propics/c2.png") %></a></a></li>
								<li><a href="#"><%= image_tag("propics/c3.png") %></a></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 footer-bottom-left">
						<h4>Follow Us</h4>
						<div class="social">
							<ul>
								<li><a href="#" class="facebook"> </a></li>
								<li><a href="#" class="facebook twitter"> </a></li>
								<li><a href="#" class="facebook chrome"> </a></li>
								<li><a href="#" class="facebook dribbble"> </a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
					<div class="copyright">
						<p>Copyrights <a href="">Fastron</a></p>
					</div>
				</div>
		</div>
		
		
	</div>
